[package]
name = "storage"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow.workspace = true
chrono.workspace = true
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
mtrade_core = { path = "../core", package = "core" }
polars.workspace = true
